@using Lab.Management.Entities;

@model lmsScan
@{
    ViewBag.Title = "View Scan";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var message = ViewBag.Message as string;
}


@if (!string.IsNullOrEmpty(message))
{
    <div class="row">
        <div class="col-sm-8 col-md-8 col-lg-8">
            <div class="alert alert-info">
                @message
            </div>
        </div>
    </div>
}


<div class="col-sm-8 col-md-8 col-lg-8 roundCornerDiv">

    @using (Html.BeginForm("EditScan", "HospitalMaster", new { @id = "IdEdit", @name = "EditForm" }))
    {
        <div class="row">
            <h4 class="text-success"><i class="glyphicon glyphicon-hand-right"> </i> View Scan Details</h4>
            <hr />
        </div>
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3">
                Scan Name
            </div>
            <div class="col-sm-5 col-md-5 col-lg-5">
                @Html.TextBoxFor(m => m.SCANNAME, new { @class = "form-control", required = "required" })
                @Html.HiddenFor(x => x.SCANID)
            </div>
        </div>

        <hr />
        <div class="row">
            <div class="col-sm-8 col-md-8 col-lg-8">
                <a href="@Url.Action("ViewAllScan", "HospitalMaster")" class="btn btn-warning">
                    <i class="glyphicon glyphicon-arrow-left">
                        Back
                    </i>
                </a>
                <button type="submit" class="btn btn-primary">
                    <i class="glyphicon glyphicon-pencil">
                        Save
                    </i>
                </button>
                @if (Model.SCANID > 0)
                {
                    <a href="@Url.Action("DeleteScan", "HospitalMaster", new { ScanId=Model.SCANID})" class="btn btn-danger">
                        <i class="glyphicon glyphicon-trash"></i>
                        Delete
                    </a>
                }
            </div>
        </div>
        <div class="row">

            <hr />
        </div>
    }
</div>
@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {
            $('#btnPrint').on('click', function () {
                var hideShowelements = [];
                hideShowelements.push('btnBack');
                hideShowelements.push('btnPrint');
                PrintCanvasDiv(hideShowelements, 'canvasElement');
            });

        });

    </script>
}
