@using Lab.Management.Entities;
@using LabManagement.System.Common;

@model lmsMedicalTestGroup
@{
    ViewBag.Title = "View Medical Test Group";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var transactionType = ViewBag.TransactionType as string;
    var message = transactionType.GetTransactionMessage();
}

@if (!string.IsNullOrEmpty(message))
{
    <div class="row">
        <div class="col-sm-8 col-md-8 col-lg-8">
            <div class="alert alert-info">
                @message
            </div>
        </div>
    </div>
}

<div class="col-sm-8 col-md-8 col-lg-8 roundCornerDiv">
    @using (Html.BeginForm("EditMedicalTestGroup", "MedicalTest", new { @id = "IdEdit", @name = "EditForm" }))
    {
        <div class="row">
            <h4 class="text-success"><i class="glyphicon glyphicon-hand-right"> </i> View Medical Test Group</h4>
            <hr />
        </div>
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3">
                Group By Name
            </div>
            <div class="col-sm-5 col-md-5 col-lg-5">
                @Html.TextBoxFor(m => m.GROUPNAME, new { @class = "form-control", required = "required" })
                @Html.HiddenFor(x => x.GROUPID)
            </div>
        </div>
        <hr />
        <div class="row">

            <div class="col-sm-8 col-md-8 col-lg-8">
                <a href="@Url.Action("ViewAllMedicalTestGroup", "MedicalTest" )" class="btn btn-warning">
                    <i class="glyphicon glyphicon-arrow-left">
                        Back
                    </i>
                </a>
                <button type="submit" class="btn btn-primary">
                    <i class="glyphicon glyphicon-floppy-disk"></i>
                    Save
                </button>
                @if (Model.GROUPID > 0)
                {
                    <a href="@Url.Action("DeleteMedicalTestGroup", "MedicalTest" , new { id=@Model.GROUPID })" class="btn btn-danger">
                        <i class="glyphicon glyphicon-trash">
                            Delete
                        </i>
                    </a>
                }
            </div>
        </div>
        <div class="row">
            <hr />
        </div>
    }
</div>
