@using Lab.Management.Entities;

@model lmsStateMaster
@{
    ViewBag.Title = "View State";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var message = ViewBag.Message as string;
}

@if (!string.IsNullOrEmpty(message))
{
    <div class="row">
        <div class="col-sm-8 col-md-8 col-lg-8">
            <div class="alert alert-info">
                @message
            </div>
        </div>
    </div>
}

<div class="col-sm-8 col-md-8 col-lg-8 roundCornerDiv">
    @using (Html.BeginForm("EditState", "Admin", new { @id = "IdEdit", @name = "EditForm" }))
    {
        <div class="row">
            <h4 class="text-success"><i class="glyphicon glyphicon-hand-right"> </i> View State Details</h4>
            <hr/>
        </div>
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3">
                State Name
            </div>
            <div class="col-sm-5 col-md-5 col-lg-5">
                @Html.TextBoxFor(m => m.STATENAME, new { @class = "form-control", required = "required" })
                @Html.HiddenFor(x => x.STATEID)
            </div>
        </div>
        <hr/>
        <div class="row">

            <div class="col-sm-8 col-md-8 col-lg-8">
                <a href="@Url.Action(" ViewAllState", "Admin" )" class="btn btn-warning">
                    <i class="glyphicon glyphicon-arrow-left">
                        Back
                    </i>
                </a>
                <button type="submit" class="btn btn-primary">
                    <i class="glyphicon glyphicon-floppy-disk"></i>
                    Save
                </button>
                @if (Model.STATEID > 0)
                {
                    <a href="@Url.Action(" DeleteState", "Admin" , new { StateId=@Model.STATEID })" class="btn btn-danger">
                        <i class="glyphicon glyphicon-trash">
                            Delete
                        </i>
                    </a>
                }
            </div>
        </div>
        <div class="row">
            <hr/>
        </div>
    }
</div>
