@using Lab.Management.Engine.Models;
@model IEnumerable<DrugTaxResponse>
@if (Model.Count() > 0)
{
    <table id="allDrugTax" class=" dataTable table table-striped table-bordered dataTable no-footer">
        <thead>
            <tr>
                <td>Available Tax</td>
                <td>Delete</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>
                        @obj.Name
                    </td>
                    <td>

                        <button class="btn btn-danger btn-sm btn-drug-tax" type="button" id="deleteDrugTax" data-prop="@string.Format("{0}-{1}", obj.DTaxId, obj.DrugId)">
                            <i class="glyphicon glyphicon-trash"></i>
                        </button>

                    </td>
                </tr>
            }
        </tbody>
    </table>

}

<script type="text/javascript">
    $(document).ready(function () {
      $(".btn-drug-tax").on('click', (function () {
                var drugTaxId = $(this).attr('data-prop');
                var ids = drugTaxId.split('-');
                var dTaxId = ids[0];
                var drugId = ids[1];
                 $.ajax({
                    url: '@Url.Action("Remove", "MedicinesTax")',
                    type: "GET",
                     data: { "dTaxId": dTaxId, "medicineId": drugId },
                     success: function (data) {
                           $('#drugTaxGrid').html(data);
                    },
                    error: function () {

                        alert("Unable to add remove tax,as the tax can be used in multiple drugs");
                    }
                });
            }));
    });

</script>