@{
    ViewBag.Title = "View Cam";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var scannerType = ViewBag.ScannerType as string;

}
<script type="text/javascript">
    function UploadPic(qrCodeType) {
        debugger;
        $.ajax({
            type: 'POST',
            url: ("@Url.Content("~/WebCam/Rebind")/"),
            dataType: 'json',
            success: function (data) {
               var qrCodeUrl = '/Patient/PatientScanner?imagePath=' + data;
                qrCodeUrl = window.opener.location.origin + qrCodeUrl;
                SetQrCodeUrl(qrCodeUrl);
                self.close();
            }
        });
    }
    function RefreshParent() {
        if (window.opener != null && !window.opener.closed) {
            window.opener.location.reload(true);

        }
    }
    window.onbeforeunload = RefreshParent;
    function Uploadsubmit() {
        var src = $('img').attr('src');
        src_array = src.split('/');
        src = src_array[4];
        if (src != "") {
            $.ajax({
                type: 'POST',
                url: ("@Url.Content("~/WebCam/IndexPost")/"),
               dataType: 'json',
               data: { Imagename: src },
               success: function () { }
           });
        }
    }
</script>
@using (Html.BeginForm())
{
    @section scripts
{
        <script type="text/javascript">
            var qrScannerType = '@scannerType';
            $("#Camera").webcam({
                width: 320,
                height: 240,
                mode: "save",
                swffile: "@Url.Content("~/Content/js/jscam.swf")",
                onTick: function () { },
                onSave: function () {
                    UploadPic(qrScannerType);
                },
                onCapture: function () {
                    webcam.save("@Url.Content("~/WebCam/Capture")/");
             },
                debug: function () { },
                onLoad: function () { }

            });
        </script>
    }
    <div style="margin: 0 auto; width: 980px; text-align: center">
        <div style="float: left; border: 4px solid #ccc; padding: 5px">
            <div id="Camera">
            </div>
            <br>
            <input type="button" value="Scan QR" onclick="webcam.capture();" id="scanQr"/>
        </div>
    </div>

}
